In [1]:
import pandas as pd
import numpy as np

#

In [2]:
# 字典的形式创建DataFrame，key作为列元素

In [3]:
df = pd.DataFrame({'AAA':[4,5,6,7], 'BBB':[10,20,30,40], 'CCC':[100,50,-30,-50]})
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [4]:
df.loc[df.AAA>=5,'BBB'] = -1
df

   AAA  BBB  CCC
0    4   10  100
1    5   -1   50
2    6   -1  -30
3    7   -1  -50

In [5]:
df.loc[df.AAA>=5,['BBB','CCC']] = 555
df

   AAA  BBB  CCC
0    4   10  100
1    5  555  555
2    6  555  555
3    7  555  555

In [6]:
df.loc[df.AAA<5, ['BBB','CCC']] = 2000
df

   AAA   BBB   CCC
0    4  2000  2000
1    5   555   555
2    6   555   555
3    7   555   555

In [7]:
df_mask = pd.DataFrame({'AAA':[True]*4, 'BBB':[False]*4, 'CCC':[True, False]*2})
print(df_mask)
#todo True则显示原值，False则填充给定的值－1000
df.where(df_mask, -1000)

    AAA    BBB    CCC
0  True  False   True
1  True  False  False
2  True  False   True
3  True  False  False

   AAA   BBB   CCC
0    4 -1000  2000
1    5 -1000 -1000
2    6 -1000   555
3    7 -1000 -1000

In [8]:
df = pd.DataFrame({'AAA':[4,5,6,7], 'BBB':[10,20,30,40], 'CCC':[100,50,-30,-50]})
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [9]:
df['logic'] = np.where(df['AAA']>5, 'high', 'low')
df

   AAA  BBB  CCC logic
0    4   10  100   low
1    5   20   50   low
2    6   30  -30  high
3    7   40  -50  high

In [10]:
df = pd.DataFrame({'AAA':[4,5,6,7], 'BBB':[10,20,30,40], 'CCC':[100,50,-30,-50]})
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [11]:
dflow = df[df.AAA <=5]
dflow

   AAA  BBB  CCC
0    4   10  100
1    5   20   50

In [12]:
dfhigh = df[df.AAA>5]
dfhigh

   AAA  BBB  CCC
2    6   30  -30
3    7   40  -50

In [13]:
df = pd.DataFrame({'AAA':[4,5,6,7], 'BBB':[10,20,30,40], 'CCC':[100,50,-30,-50]})
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [14]:
newseries = df.loc[(df.BBB > 25) | (df.CCC >= -40), 'AAA']
newseries

0    4
1    5
2    6
3    7
Name: AAA, dtype: int64

In [15]:
newseries = df.loc[(df['BBB'] > 25) | (df['CCC'] >= -40), 'AAA']
newseries

0    4
1    5
2    6
3    7
Name: AAA, dtype: int64

In [16]:
df.loc[(df['BBB'] > 25) | (df['CCC'] >= 75), 'AAA'] = 0.1
df

   AAA  BBB  CCC
0  0.1   10  100
1  5.0   20   50
2  0.1   30  -30
3  0.1   40  -50

In [17]:
df = pd.DataFrame({'AAA':[4,5,6,7], 'BBB':[10,20,30,40], 'CCC':[100,50,-30,-50]})
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [18]:
aValue = 43.0
df.loc[(df.CCC - aValue).abs().argsort()]

   AAA  BBB  CCC
1    5   20   50
0    4   10  100
2    6   30  -30
3    7   40  -50

In [19]:
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [20]:
np.argsort(df, axis=1)

   AAA  BBB  CCC
0    0    1    2
1    0    1    2
2    2    0    1
3    2    0    1

In [21]:
np.argsort(df, axis=0)

   AAA  BBB  CCC
0    0    0    3
1    1    1    2
2    2    2    1
3    3    3    0

In [22]:
df = pd.DataFrame({'AAA':[4,5,6,7], 'BBB':[10,20,30,40], 'CCC':[100,50,-30,-50]})
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [23]:
Crit1 = df.AAA <=5.5
Crit2 = df.BBB = 10.0
Crit3 = df.CCC > -40
Crit1

0     True
1     True
2    False
3    False
Name: AAA, dtype: bool

In [24]:
Crit2

10.0

In [25]:
Crit3

0     True
1     True
2     True
3    False
Name: CCC, dtype: bool

In [26]:
import functools
AllCrit = Crit1 & Crit2 & Crit3
AllCrit
# CritList = [Crit1, Crit2, Crit3]
# AllCrit = functools.reduce(lambda x,y:x&y, CritList)
# df[AllCrit]

TypeError: cannot compare a dtyped [bool] array with a scalar of type [bool]

In [27]:
df = pd.DataFrame({'AAA':[4,5,6,7], 'BBB':[10,20,30,40], 'CCC':[100,50,-30,-50]})
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [30]:
df[(df.AAA <= 6) & (df.index.isin([0,2,4]))]

   AAA  BBB  CCC
0    4   10  100
2    6   30  -30

In [36]:
df.index.isin([2])

array([False, False,  True, False], dtype=bool)

In [37]:
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [38]:
df.index.isin([0,2,4])

array([ True, False,  True, False], dtype=bool)

In [39]:
help(df.index.isin)

Help on method isin in module pandas.core.indexes.base:

isin(values, level=None) method of pandas.core.indexes.range.RangeIndex instance
    Compute boolean array of whether each index value is found in the
    passed set of values.

    Parameters
    ----------
    values : set or list-like
        Sought values.

        .. versionadded:: 0.18.1

        Support for values as a set

    level : str or int, optional
        Name or position of the index level to use (if the index is a
        MultiIndex).

    Notes
    -----
    If `level` is specified:

    - if it is the name of one *and only one* index level, use that level;
    - otherwise it should be a number indicating level position.

    Returns
    -------
    is_contained : ndarray (boolean dtype)

In [47]:
df.index.isin([3,3,-1])

array([False, False, False,  True], dtype=bool)

In [48]:
type(df.index)

pandas.core.indexes.range.RangeIndex

In [52]:
for i in df.index:
    print (i)

0
1
2
3

In [54]:
data = {'AAA':[4,5,6,7], 'BBB':[10,20,30,40], 'CCC':[100,50,-30,-50]}
df = pd.DataFrame(data=data, index=['foo', 'bar', 'boo', 'kar'])
df

     AAA  BBB  CCC
foo    4   10  100
bar    5   20   50
boo    6   30  -30
kar    7   40  -50

In [58]:
df.loc['bar', 'BBB']

20

In [59]:
df.loc['bar':'kar'] #注意：这里是左闭右闭区间

     AAA  BBB  CCC
bar    5   20   50
boo    6   30  -30
kar    7   40  -50

In [66]:
df.iloc[1:4]

     AAA  BBB  CCC
bar    5   20   50
boo    6   30  -30
kar    7   40  -50

In [68]:
df = pd.DataFrame(data=data, index=range(1,5))
df

   AAA  BBB  CCC
1    4   10  100
2    5   20   50
3    6   30  -30
4    7   40  -50

In [72]:
df.loc[1:3] #Label-oriented

   AAA  BBB  CCC
1    4   10  100
2    5   20   50
3    6   30  -30

In [73]:
df.iloc[1:3] #position-oriented

   AAA  BBB  CCC
2    5   20   50
3    6   30  -30

In [74]:
df = pd.DataFrame({'AAA':[4,5,6,7], 'BBB':[10,20,30,40], 'CCC':[100,50,-30,-50]})
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [79]:
df[(df.AAA <= 6) & (df.index.isin([0,2,4]))]

   AAA  BBB  CCC
0    4   10  100
2    6   30  -30

In [83]:
df[~((df.AAA <= 6) & (df.index.isin([0,2,4])))] #~取反

   AAA  BBB  CCC
1    5   20   50
3    7   40  -50

In [95]:
rng = pd.date_range('1/1/2013', periods=100, frq='D')
data = np.random.randn(100, 4)
rng

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06', '2013-01-07', '2013-01-08',
               '2013-01-09', '2013-01-10', '2013-01-11', '2013-01-12',
               '2013-01-13', '2013-01-14', '2013-01-15', '2013-01-16',
               '2013-01-17', '2013-01-18', '2013-01-19', '2013-01-20',
               '2013-01-21', '2013-01-22', '2013-01-23', '2013-01-24',
               '2013-01-25', '2013-01-26', '2013-01-27', '2013-01-28',
               '2013-01-29', '2013-01-30', '2013-01-31', '2013-02-01',
               '2013-02-02', '2013-02-03', '2013-02-04', '2013-02-05',
               '2013-02-06', '2013-02-07', '2013-02-08', '2013-02-09',
               '2013-02-10', '2013-02-11', '2013-02-12', '2013-02-13',
               '2013-02-14', '2013-02-15', '2013-02-16', '2013-02-17',
               '2013-02-18', '2013-02-19', '2013-02-20', '2013-02-21',
               '2013-02-22', '2013-02-23', '2013-02-24', '2013-02-25',
               '2013-02-26', '2013-02-27', '2013-02-28', '2013-03-01',
               '2013-03-02', '2013-03-03', '2013-03-04', '2013-03-05',
               '2013-03-06', '2013-03-07', '2013-03-08', '2013-03-09',
               '2013-03-10', '2013-03-11', '2013-03-12', '2013-03-13',
               '2013-03-14', '2013-03-15', '2013-03-16', '2013-03-17',
               '2013-03-18', '2013-03-19', '2013-03-20', '2013-03-21',
               '2013-03-22', '2013-03-23', '2013-03-24', '2013-03-25',
               '2013-03-26', '2013-03-27', '2013-03-28', '2013-03-29',
               '2013-03-30', '2013-03-31', '2013-04-01', '2013-04-02',
               '2013-04-03', '2013-04-04', '2013-04-05', '2013-04-06',
               '2013-04-07', '2013-04-08', '2013-04-09', '2013-04-10'],
              dtype='datetime64[ns]', freq='D')

In [96]:
cols = ['A', 'B', 'C', 'D']
df1, df2, df3 = pd.DataFrame(data, rng, cols), pd.DataFrame(data, rng, cols), pd.DataFrame(data, rng, cols)
pf = pd.Panel({'df1':df1, 'df2':df2, 'df3':df3})
pf

<class 'pandas.core.panel.Panel'>
Dimensions: 3 (items) x 100 (major_axis) x 4 (minor_axis)
Items axis: df1 to df3
Major_axis axis: 2013-01-01 00:00:00 to 2013-04-10 00:00:00
Minor_axis axis: A to D

In [97]:
pf.loc[:, :, 'F'] = pd.DataFrame(data, rng, cols)
pf

<class 'pandas.core.panel.Panel'>
Dimensions: 3 (items) x 100 (major_axis) x 5 (minor_axis)
Items axis: df1 to df3
Major_axis axis: 2013-01-01 00:00:00 to 2013-04-10 00:00:00
Minor_axis axis: A to F

In [98]:
help(pd.date_range)

Help on function date_range in module pandas.core.indexes.datetimes:

date_range(start=None, end=None, periods=None, freq='D', tz=None, normalize=False, name=None, closed=None, **kwargs)
    Return a fixed frequency datetime index, with day (calendar) as the default
    frequency

    Parameters
    ----------
    start : string or datetime-like, default None
        Left bound for generating dates
    end : string or datetime-like, default None
        Right bound for generating dates
    periods : integer or None, default None
        If None, must specify start and end
    freq : string or DateOffset, default 'D' (calendar daily)
        Frequency strings can have multiples, e.g. '5H'
    tz : string or None
        Time zone name for returning localized DatetimeIndex, for example
        Asia/Hong_Kong
    normalize : bool, default False
        Normalize start/end dates to midnight before generating date range
    name : str, default None
        Name of the resulting index
    closed : string or None, default None
        Make the interval closed with respect to the given frequency to
        the 'left', 'right', or both sides (None)

    Notes
    -----
    2 of start, end, or periods must be specified

    To learn more about the frequency strings, please see `this link
    <http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases>`__.

    Returns
    -------
    rng : DatetimeIndex

In [100]:
pf

<class 'pandas.core.panel.Panel'>
Dimensions: 3 (items) x 100 (major_axis) x 5 (minor_axis)
Items axis: df1 to df3
Major_axis axis: 2013-01-01 00:00:00 to 2013-04-10 00:00:00
Minor_axis axis: A to F

In [104]:
print(dir(pf))

['_AXIS_ALIASES', '_AXIS_IALIASES', '_AXIS_LEN', '_AXIS_NAMES', '_AXIS_NUMBERS', '_AXIS_ORDERS', '_AXIS_REVERSED', '_AXIS_SLICEMAP', '__abs__', '__add__', '__and__', '__array__', '__array_wrap__', '__bool__', '__bytes__', '__class__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__div__', '__doc__', '__eq__', '__finalize__', '__floordiv__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__invert__', '__ipow__', '__isub__', '__iter__', '__itruediv__', '__le__', '__len__', '__lt__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pow__', '__radd__', '__rand__', '__rdiv__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__unicode__', '__weakref__', '__xor__', '_accessors', '_add_aggregate_operations', '_add_numeric_operations', '_add_series_only_operations', '_add_series_or_dataframe_operations', '_agg_by_level', '_aggregate', '_aggregate_multiple_funcs', '_align_frame', '_align_series', '_apply_1d', '_apply_2d', '_at', '_box_item_values', '_builtin_table', '_check_inplace_setting', '_check_is_chained_assignment_possible', '_check_percentile', '_check_setitem_copy', '_clear_item_cache', '_clip_with_scalar', '_combine', '_combine_const', '_combine_frame', '_combine_panel', '_compare_constructor', '_consolidate', '_consolidate_inplace', '_construct_axes_dict', '_construct_axes_dict_for_slice', '_construct_axes_dict_from', '_construct_axes_from_arguments', '_construct_return_type', '_constructor', '_constructor_expanddim', '_constructor_sliced', '_convert', '_create_indexer', '_cython_table', '_dir_additions', '_dir_deletions', '_expand_axes', '_extract_axes', '_extract_axes_for_slice', '_extract_axis', '_from_axes', '_get_axis', '_get_axis_name', '_get_axis_number', '_get_axis_resolvers', '_get_block_manager_axis', '_get_bool_data', '_get_cacher', '_get_index_resolvers', '_get_item_cache', '_get_join_index', '_get_numeric_data', '_get_plane_axes', '_get_plane_axes_index', '_get_values', '_getitem_multilevel', '_gotitem', '_homogenize_dict', '_iat', '_iget_item_cache', '_iloc', '_indexed_same', '_info_axis', '_info_axis_name', '_info_axis_number', '_init_arrays', '_init_data', '_init_dict', '_init_matrix', '_init_mgr', '_internal_names', '_internal_names_set', '_is_builtin_func', '_is_cached', '_is_cython_func', '_is_datelike_mixed_type', '_is_mixed_type', '_is_numeric_mixed_type', '_is_view', '_ix', '_ixs', '_loc', '_maybe_cache_changed', '_maybe_update_cacher', '_metadata', '_needs_reindex_multi', '_obj_with_exclusions', '_prep_ndarray', '_protect_consolidate', '_reduce', '_reindex_axes', '_reindex_axis', '_reindex_multi', '_reindex_with_indexers', '_repr_data_resource_', '_repr_latex_', '_reset_cache', '_reset_cacher', '_selected_obj', '_selection', '_selection_list', '_selection_name', '_set_as_cached', '_set_axis', '_set_axis_name', '_set_is_copy', '_set_item', '_setup_axes', '_shallow_copy', '_slice', '_stat_axis', '_stat_axis_name', '_stat_axis_number', '_try_aggregate_string_function', '_typ', '_unpickle_panel_compat', '_update_inplace', '_validate_dtype', '_values', '_where', '_wrap_result', '_xs', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'apply', 'as_blocks', 'as_matrix', 'asfreq', 'asof', 'astype', 'at', 'at_time', 'axes', 'between_time', 'bfill', 'blocks', 'bool', 'clip', 'clip_lower', 'clip_upper', 'compound', 'conform', 'consolidate', 'convert_objects', 'copy', 'count', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'df1', 'df2', 'df3', 'div', 'divide', 'drop', 'dropna', 'dtypes', 'empty', 'eq', 'equals', 'ffill', 'fillna', 'filter', 'first', 'floordiv', 'fromDict', 'from_dict', 'ftypes', 'ge', 'get', 'get_dtype_counts', 'get_ftype_counts', 'get_value', 'get_values', 'groupby', 'gt', 'head', 'iat', 'iloc', 'interpolate', 'is_copy', 'isnull', 'items', 'iteritems', 'ix', 'join', 'keys', 'kurt', 'kurtosis', 'last', 'le', 'loc', 'lt', 'mad', 'major_axis', 'major_xs', 'mask', 'max', 'mean', 'median', 'min', 'minor_axis', 'minor_xs', 'mod', 'mul', 'multiply', 'ndim', 'ne', 'notnull', 'pct_change', 'pipe', 'pop', 'pow', 'prod', 'product', 'radd', 'rank', 'rdiv', 'reindex', 'reindex_axis', 'reindex_like', 'rename', 'rename_axis', 'replace', 'resample', 'rfloordiv', 'rmod', 'rmul', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'select', 'sem', 'set_axis', 'set_value', 'shape', 'shift', 'size', 'skew', 'slice_shift', 'sort_index', 'sort_values', 'squeeze', 'std', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'toLong', 'to_clipboard', 'to_dense', 'to_excel', 'to_frame', 'to_hdf', 'to_json', 'to_latex', 'to_long', 'to_msgpack', 'to_pickle', 'to_sparse', 'to_sql', 'to_xarray', 'transpose', 'truediv', 'truncate', 'tshift', 'tz_convert', 'tz_localize', 'update', 'values', 'var', 'where', 'xs']

In [110]:
print(pf.sort_values)

<bound method NDFrame.sort_values of <class 'pandas.core.panel.Panel'>
Dimensions: 3 (items) x 100 (major_axis) x 5 (minor_axis)
Items axis: df1 to df3
Major_axis axis: 2013-01-01 00:00:00 to 2013-04-10 00:00:00
Minor_axis axis: A to F>

In [111]:
df = pd.DataFrame({'AAA':[1,2,1,3], 'BBB':[1,1,2,2], 'CCC':[2,1,3,1]})
df

   AAA  BBB  CCC
0    1    1    2
1    2    1    1
2    1    2    3
3    3    2    1

In [112]:
source_cols = df.columns
source_cols

Index(['AAA', 'BBB', 'CCC'], dtype='object')

In [113]:
new_cols = [str(x) + "_cat" for x in source_cols]
new_cols

['AAA_cat', 'BBB_cat', 'CCC_cat']

In [124]:
categories = {1:'Alpha', 2:'Beta', 3:'Charlie'}
print(categories.get(1))
df[new_cols] = df[source_cols].applymap(categories.get)
df

Alpha

   AAA  BBB  CCC  AAA_cat BBB_cat  CCC_cat
0    1    1    2    Alpha   Alpha     Beta
1    2    1    1     Beta   Alpha    Alpha
2    1    2    3    Alpha    Beta  Charlie
3    3    2    1  Charlie    Beta    Alpha

In [115]:
df[source_cols]

   AAA  BBB  CCC
0    1    1    2
1    2    1    1
2    1    2    3
3    3    2    1

In [116]:
help(df.applymap)

Help on method applymap in module pandas.core.frame:

applymap(func) method of pandas.core.frame.DataFrame instance
    Apply a function to a DataFrame that is intended to operate
    elementwise, i.e. like doing map(func, series) for each series in the
    DataFrame

    Parameters
    ----------
    func : function
        Python function, returns a single value from a single value

    Examples
    --------

    >>> df = pd.DataFrame(np.random.randn(3, 3))
    >>> df
        0         1          2
    0  -0.029638  1.081563   1.280300
    1   0.647747  0.831136  -1.549481
    2   0.513416 -0.884417   0.195343
    >>> df = df.applymap(lambda x: '%.2f' % x)
    >>> df
        0         1          2
    0  -0.03      1.08       1.28
    1   0.65      0.83      -1.55
    2   0.51     -0.88       0.20

    Returns
    -------
    applied : DataFrame

    See also
    --------
    DataFrame.apply : For operations on rows/columns

In [125]:
help(df.apply)

Help on method apply in module pandas.core.frame:

apply(func, axis=0, broadcast=False, raw=False, reduce=None, args=(), **kwds) method of pandas.core.frame.DataFrame instance
    Applies function along input axis of DataFrame.

    Objects passed to functions are Series objects having index
    either the DataFrame's index (axis=0) or the columns (axis=1).
    Return type depends on whether passed function aggregates, or the
    reduce argument if the DataFrame is empty.

    Parameters
    ----------
    func : function
        Function to apply to each column/row
    axis : {0 or 'index', 1 or 'columns'}, default 0
        * 0 or 'index': apply function to each column
        * 1 or 'columns': apply function to each row
    broadcast : boolean, default False
        For aggregation functions, return object of same size with values
        propagated
    raw : boolean, default False
        If False, convert each row or column into a Series. If raw=True the
        passed function will receive ndarray objects instead. If you are
        just applying a NumPy reduction function this will achieve much
        better performance
    reduce : boolean or None, default None
        Try to apply reduction procedures. If the DataFrame is empty,
        apply will use reduce to determine whether the result should be a
        Series or a DataFrame. If reduce is None (the default), apply's
        return value will be guessed by calling func an empty Series (note:
        while guessing, exceptions raised by func will be ignored). If
        reduce is True a Series will always be returned, and if False a
        DataFrame will always be returned.
    args : tuple
        Positional arguments to pass to function in addition to the
        array/series
    Additional keyword arguments will be passed as keywords to the function

    Notes
    -----
    In the current implementation apply calls func twice on the
    first column/row to decide whether it can take a fast or slow
    code path. This can lead to unexpected behavior if func has
    side-effects, as they will take effect twice for the first
    column/row.

    Examples
    --------
    >>> df.apply(numpy.sqrt) # returns DataFrame
    >>> df.apply(numpy.sum, axis=0) # equiv to df.sum(0)
    >>> df.apply(numpy.sum, axis=1) # equiv to df.sum(1)

    See also
    --------
    DataFrame.applymap: For elementwise operations
    DataFrame.aggregate: only perform aggregating type operations
    DataFrame.transform: only perform transformating type operations

    Returns
    -------
    applied : Series or DataFrame

In [132]:
df = pd.DataFrame(data=np.arange(1,13).reshape((3,4)))
df

   0   1   2   3
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12

In [133]:
df.apply(np.sum)

0    15
1    18
2    21
3    24
dtype: int64

In [134]:
df.apply(np.sum, axis=1)

0    10
1    26
2    42
dtype: int64

In [136]:
df = pd.DataFrame({'AAA':[1,1,1,2,2,2,3,3], 'BBB':[2,1,3,4,5,1,2,3]})
df

   AAA  BBB
0    1    2
1    1    1
2    1    3
3    2    4
4    2    5
5    2    1
6    3    2
7    3    3

In [141]:
df.groupby('AAA').sum()

     BBB
AAA
1      6
2     10
3      5

In [142]:
df.groupby('AAA').mean()

          BBB
AAA
1    2.000000
2    3.333333
3    2.500000

In [146]:
df.groupby('AAA')['BBB'].idxmin() #获取每个分组最小的值的index

AAA
1    1
2    5
3    6
Name: BBB, dtype: int64

In [147]:
df.loc[df.groupby('AAA')['BBB'].idxmin()]

   AAA  BBB
1    1    1
5    2    1
6    3    2

In [139]:
help(df.groupby)

Help on method groupby in module pandas.core.generic:

groupby(by=None, axis=0, level=None, as_index=True, sort=True, group_keys=True, squeeze=False, **kwargs) method of pandas.core.frame.DataFrame instance
    Group series using mapper (dict or key function, apply given function
    to group, return result as series) or by a series of columns.

    Parameters
    ----------
    by : mapping, function, str, or iterable
        Used to determine the groups for the groupby.
        If ``by`` is a function, it's called on each value of the object's
        index. If a dict or Series is passed, the Series or dict VALUES
        will be used to determine the groups (the Series' values are first
        aligned; see ``.align()`` method). If an ndarray is passed, the
        values are used as-is determine the groups. A str or list of strs
        may be passed to group by the columns in ``self``
    axis : int, default 0
    level : int, level name, or sequence of such, default None
        If the axis is a MultiIndex (hierarchical), group by a particular
        level or levels
    as_index : boolean, default True
        For aggregated output, return object with group labels as the
        index. Only relevant for DataFrame input. as_index=False is
        effectively "SQL-style" grouped output
    sort : boolean, default True
        Sort group keys. Get better performance by turning this off.
        Note this does not influence the order of observations within each
        group.  groupby preserves the order of rows within each group.
    group_keys : boolean, default True
        When calling apply, add group keys to index to identify pieces
    squeeze : boolean, default False
        reduce the dimensionality of the return type if possible,
        otherwise return a consistent type

    Examples
    --------
    DataFrame results

    >>> data.groupby(func, axis=0).mean()
    >>> data.groupby(['col1', 'col2'])['col3'].mean()

    DataFrame with hierarchical index

    >>> data.groupby(['col1', 'col2']).mean()

    Returns
    -------
    GroupBy object

In [148]:
df

   AAA  BBB
0    1    2
1    1    1
2    1    3
3    2    4
4    2    5
5    2    1
6    3    2
7    3    3

In [161]:
df.sort_values(by='BBB', axis=0)

   AAA  BBB
1    1    1
5    2    1
0    1    2
6    3    2
2    1    3
7    3    3
3    2    4
4    2    5

In [178]:
df.sort_values(by='BBB').groupby('AAA', as_index=False).first()

   AAA  BBB
0    1    1
1    2    1
2    3    2

In [176]:
df.sort_values(by='BBB').groupby('AAA', as_index=True).first()

     BBB
AAA
1      1
2      1
3      2

In [177]:
print(dir(df.sort_values(by='BBB').groupby('AAA', as_index=True)))
print(df.sort_values(by='BBB').groupby('AAA', as_index=True).describe())

['AAA', 'BBB', '__bytes__', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__unicode__', '__weakref__', '_add_numeric_operations', '_agg_doc', '_aggregate', '_aggregate_generic', '_aggregate_item_by_item', '_aggregate_multiple_funcs', '_apply_filter', '_apply_to_column_groupbys', '_apply_whitelist', '_assure_grouper', '_block_agg_axis', '_builtin_table', '_choose_path', '_concat_objects', '_constructor', '_cumcount_array', '_cython_agg_blocks', '_cython_agg_general', '_cython_table', '_cython_transform', '_decide_output_index', '_def_str', '_define_paths', '_dir_additions', '_dir_deletions', '_get_data_to_aggregate', '_get_index', '_get_indices', '_gotitem', '_group_selection', '_index_with_as_index', '_insert_inaxis_grouper_inplace', '_internal_names', '_internal_names_set', '_is_builtin_func', '_is_cython_func', '_iterate_column_groupbys', '_iterate_slices', '_make_wrapper', '_obj_with_exclusions', '_post_process_cython_aggregate', '_python_agg_general', '_python_apply_general', '_reindex_output', '_reset_cache', '_reset_group_selection', '_selected_obj', '_selection', '_selection_list', '_selection_name', '_set_group_selection', '_set_result_index_ordered', '_shallow_copy', '_transform_fast', '_transform_general', '_transform_item_by_item', '_try_aggregate_string_function', '_try_cast', '_wrap_agged_blocks', '_wrap_aggregated_output', '_wrap_applied_output', '_wrap_generic_output', '_wrap_transformed_output', 'agg', 'aggregate', 'all', 'any', 'apply', 'backfill', 'bfill', 'boxplot', 'corr', 'corrwith', 'count', 'cov', 'cumcount', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'dtypes', 'expanding', 'ffill', 'fillna', 'filter', 'first', 'get_group', 'groups', 'head', 'hist', 'idxmax', 'idxmin', 'indices', 'last', 'mad', 'max', 'mean', 'median', 'min', 'ndim', 'ngroup', 'ngroups', 'nth', 'nunique', 'ohlc', 'pad', 'pct_change', 'plot', 'prod', 'quantile', 'rank', 'resample', 'rolling', 'sem', 'shift', 'size', 'skew', 'std', 'sum', 'tail', 'take', 'transform', 'tshift', 'var']
      BBB
    count      mean       std  min   25%  50%   75%  max
AAA
1     3.0  2.000000  1.000000  1.0  1.50  2.0  2.50  3.0
2     3.0  3.333333  2.081666  1.0  2.50  4.0  4.50  5.0
3     2.0  2.500000  0.707107  2.0  2.25  2.5  2.75  3.0

In [181]:
df.sort_values(by='BBB').groupby('AAA', as_index=True).tail()

   AAA  BBB
1    1    1
5    2    1
0    1    2
6    3    2
2    1    3
7    3    3
3    2    4
4    2    5

In [168]:
help(df.first)

Help on method first in module pandas.core.generic:

first(offset) method of pandas.core.frame.DataFrame instance
    Convenience method for subsetting initial periods of time series data
    based on a date offset.

    Parameters
    ----------
    offset : string, DateOffset, dateutil.relativedelta

    Examples
    --------
    ts.first('10D') -> First 10 days

    Returns
    -------
    subset : type of caller

In [156]:
help(df.sort_values)

Help on method sort_values in module pandas.core.frame:

sort_values(by, axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last') method of pandas.core.frame.DataFrame instance
    Sort by the values along either axis

    .. versionadded:: 0.17.0

    Parameters
    ----------
    by : str or list of str
        Name or list of names which refer to the axis items.
    axis : {0 or 'index', 1 or 'columns'}, default 0
        Axis to direct sorting
    ascending : bool or list of bool, default True
         Sort ascending vs. descending. Specify list for multiple sort
         orders.  If this is a list of bools, must match the length of
         the by.
    inplace : bool, default False
         if True, perform operation in-place
    kind : {'quicksort', 'mergesort', 'heapsort'}, default 'quicksort'
         Choice of sorting algorithm. See also ndarray.np.sort for more
         information.  `mergesort` is the only stable algorithm. For
         DataFrames, this option is only applied when sorting on a single
         column or label.
    na_position : {'first', 'last'}, default 'last'
         `first` puts NaNs at the beginning, `last` puts NaNs at the end

    Returns
    -------
    sorted_obj : DataFrame